<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://camel.apache.org/schema/spring
          http://camel.apache.org/schema/spring/camel-spring.xsd">

    <camelContext xmlns="http://camel.apache.org/schema/spring">

        <route id="rebrickable-legoTheme" autoStartup="false">
            <from uri="timer:legoTheme?repeatCount=1" />
            <to uri="https://cdn.rebrickable.com/media/downloads/themes.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoThemeLoader" />
        </route>

        <route id="rebrickable-legoColor" autoStartup="false">
            <from uri="timer:legoColor?repeatCount=1&amp;delay=5000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/colors.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoColorLoader" />
        </route>

        <route id="rebrickable-categories" autoStartup="false">
            <from uri="timer:categories?repeatCount=1&amp;delay=10000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/part_categories.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoCategoryLoader" />
        </route>

        <route id="rebrickable-parts" autoStartup="false">
            <from uri="timer:parts?repeatCount=1&amp;delay=15000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/parts.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoPartLoader" />
        </route>

        <route id="rebrickable-elements" autoStartup="false">
            <from uri="timer:elements?repeatCount=1&amp;delay=30000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/elements.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoElementLoader" />
        </route>

        <route id="rebrickable-sets" autoStartup="false">
            <from uri="timer:sets?repeatCount=1&amp;delay=60000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/sets.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoSetLoader" />
        </route>

        <route id="rebrickable-figs" autoStartup="false">
            <from uri="timer:figs?repeatCount=1&amp;delay=60000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/minifigs.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoMinifigLoader" />
        </route>

        <route id="rebrickable-legoInventory" autoStartup="false">
            <from uri="timer:figs?repeatCount=1&amp;delay=70000" />
            <to uri="https://cdn.rebrickable.com/media/downloads/inventories.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoInventoryLoader" />
        </route>

        <route id="rebrickable-legoInventory-legoPart" autoStartup="false">
            <from uri="timer:figs?repeatCount=1&amp;delay=4" />
            <to uri="https://cdn.rebrickable.com/media/downloads/inventory_parts.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoInventoryPartLoader" />
        </route>

        <route id="rebrickable-legoInventory-legoMinifig" autoStartup="false">
            <from uri="timer:figs?repeatCount=1&amp;delay=4" />
            <to uri="https://cdn.rebrickable.com/media/downloads/inventory_minifigs.csv.gz" />
            <unmarshal><gzipDeflater/></unmarshal>
            <to uri="bean:legoInventoryMinifigLoader" />
        </route>

    </camelContext>

</beans>